@model ExpeditionandTicketSalesViewModel
@{
    if (ViewBag.Result == 1)
    {
        <div class="container">
            <div class="sefer-main-top">
                <div class="sefer-main-top-top">
                    <div class="sefer-main-top-top-left">
                        <div>Gidiş</div>
                    </div>
                    <div class="sefer-main-top-top-right">
                        <div class="w-25 d-flex justify-content-around align-items-center">
                            @for (int i = 0; i < 1; i++)
                            {
                                <span>@Model.expeditions[i].ExpeditionStart</span><i class="fa-solid fa-right-long"></i><span>@Model.expeditions[i].ExpeditionFinish</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="sefer-main-top-bottom ps-5">
                    @for (int i = 0; i < 1; i++)
                    {
                        string a = Model.expeditions[0].ExpeditionDate.Substring(8, 2) + " " + Model.expeditions[i].ExpeditionDate.Substring(5, 2) + " " + Model.expeditions[i].ExpeditionDate.Substring(0, 4);
                        <h1>@a</h1>
                    }
                </div>
            </div>
            @{
                foreach (var item in Model.expeditions)
                {

                    <div class="row w-100 justify-content-between mt-3 align-items-center ">
                        <div class="col-md-3">
                            <div class="sefer-left w-100">
                                <div class="sefer-baslangıc">
                                    @item.ExpeditionHour
                                </div>
                                <div class="sefer-sure">
                                    <i class="fa-regular fa-clock"></i> 7 Saat 30 Dakika
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 justify-content-between">
                            <div class="row">
                                <div class="col-sm-2 justify-content-center d-flex">
                                    <div class="tip">
                                        2 + 1
                                    </div>
                                </div>
                                <div class="col-sm-7 justify-content-center d-flex">
                                    <div class="ozellikler">
                                        <i class="fa-solid fa-hand-holding-droplet"></i>
                                        <i class="fa-solid fa-tv"></i>
                                        <i class="fa-solid fa-wifi"></i>
                                        <i class="fa-solid fa-plug"></i>
                                        <i class="fa-brands fa-android"></i>
                                        <i class="fa-brands fa-usb"></i>
                                    </div>
                                </div>
                                <div class="col-sm-3 justify-content-center d-flex">
                                    <div class="ucret">
                                        @item.ExpeditionPrice <i class="fa-solid fa-turkish-lira-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sefer-right w-100 ">
                                <button type="submit" id="sefer-btn" class="sefer-sec-btn m-auto">
                                    <i class="fa-solid fa-angle-down"></i>     Sefer Seç
                                </button>
                            </div>
                        </div>

                    </div>


                    <div class="oturma-duzeni d-none">
                        <div class="koltuklar pb-3">

                            <div class="ikili-koltuklar mt-2">
                                <div>
                                    @{
                                        string a = "";
                                        for (int i = 3; i <= int.Parse(item.Bus.BusSeatingCapacity.ToString()); i = i + 3)
                                        {
                                            foreach (var seat in Model.ticketSales)
                                            {
                                                if (seat.ExpeditionId == item.ExpeditionId && seat.SeatNumber == i)
                                                {
                                                    a = "bg-danger";
                                                    break;
                                                }
                                                else
                                                {
                                                    a = " ";
                                                }
                                            }
                                            <div class="koltuk @a ">@i</div>
                                        }
                                    }
                                </div>
                                <div class="mt-2">
                                    @{
                                        for (int i = 2; i < int.Parse(item.Bus.BusSeatingCapacity.ToString()); i = i + 3)
                                        {
                                            foreach (var seat in Model.ticketSales)
                                            {
                                                if (seat.ExpeditionId == item.ExpeditionId && seat.SeatNumber == i)
                                                {
                                                    a = "bg-danger";
                                                    break;
                                                }
                                                else
                                                {
                                                    a = " ";
                                                }
                                            }
                                            <div class="koltuk @a ">@i</div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="tekli-koltuklar">
                                @{
                                    for (int i = 1; i < int.Parse(item.Bus.BusSeatingCapacity.ToString()); i = i + 3)
                                    {
                                        foreach (var seat in Model.ticketSales)
                                        {
                                            if (seat.ExpeditionId == item.ExpeditionId && seat.SeatNumber == i)
                                            {
                                                a = "bg-danger";

                                                break;
                                            }
                                            else
                                            {
                                                a = " ";
                                            }
                                        }
                                        <div class="koltuk @a ">@i</div>
                                    }
                                }
                            </div>

                            <form asp-controller="Home" asp-action="TicketSales" method="post">
                                <div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="row justify-content-between w-100">
                                            <div class="col-md-6 mt-4 d-flex justify-content-around">
                                                <label class="w-25">Ad:</label>
                                                <input type="text" class="form-control w-50" placeholder="Adınızı Giriniz..." asp-for="sales.customerName" value="@Model.User.FirstName" />
                                            </div>
                                            <div class="col-md-6 mt-4 d-flex justify-content-around">
                                                <label class="w-25">Soyad:</label>
                                                <input type="text" class="form-control w-50" placeholder="Soyadınızı Giriniz..." asp-for="sales.customerSurname" value="@Model.User.LastName" />
                                            </div>
                                        </div>
                                        <div class="row justify-content-between w-100">
                                            <div class="col-md-6 d-flex mt-4 justify-content-around">
                                                <label class="w-25">Telefon:</label>
                                                <input type="text" class="form-control w-50" placeholder="Telefon Numaranızı Giriniz..." asp-for="sales.customerTelNo" value="@Model.User.PhoneNumber" />
                                            </div>
                                            <div class="d-flex col-md-6 mt-4 justify-content-around">
                                                <label class="w-25">Tc No:</label>
                                                <input type="text" class="form-control w-50" placeholder="TcNo Giriniz..." asp-for="sales.customerTcNo" value="@Model.User.IdentityNumber" />
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row justify-content-between w-100">
                                            <div class="col-md-6 mt-4 d-flex justify-content-around">
                                                <label class="w-25">Ad:</label>
                                                <input type="text" class="form-control w-50" placeholder="Adınızı Giriniz..." asp-for="sales.customerName" />
                                            </div>
                                            <div class="col-md-6 mt-4 d-flex justify-content-around">
                                                <label class="w-25">Soyad:</label>
                                                <input type="text" class="form-control w-50" placeholder="Soyadınızı Giriniz..." asp-for="sales.customerSurname" />
                                            </div>
                                        </div>
                                        <div class="row justify-content-between w-100">
                                            <div class="col-md-6 d-flex mt-4 justify-content-around">
                                                <label class="w-25">Telefon:</label>
                                                <input type="text" class="form-control w-50" placeholder="Telefon Numaranızı Giriniz..." asp-for="sales.customerTelNo" />
                                            </div>
                                            <div class="d-flex col-md-6 mt-4 justify-content-around">
                                                <label class="w-25">Tc No:</label>
                                                <input type="text" class="form-control w-50" placeholder="TcNo Giriniz..." asp-for="sales.customerTcNo" />
                                            </div>
                                        </div>
                                    }
                                    <div class="d-flex w-100 mt-4 justify-content-around">
                                        <label class="form-control w-50">Satın alacağınız koltuğu üzerine tıklayınız</label>
                                        <input type="hidden" id="seatNumber" asp-for="sales.SeatNumber" value="" />
                                        <input id="expedition" asp-for="sales.ExpeditionId" type="hidden" value="@item.ExpeditionId" />
                                        <button type="submit" class="btn btn-sm btn-outline-success w-25">Satın Al</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }

        </div>
    }
    else
    {
        <h5 class="display-4">Şuanda böyle bir seferimiz yok</h5>
    }
}
